REACT_APP_SOLANA_NETWORK=mainnet-beta
# For local testing only. Use a dedicated RPC provider in production.
REACT_APP_SOLANA_RPC_HOST=https://api.mainnet-beta.solana.com
REACT_APP_CANDY_MACHINE_ID=7iR87bcV3KEEojpjBs4Lp1QCU5wV7pQ7pWkzYkL1Vbhs
